@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
nav{
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: white;
}
.menu{
    display: none;
}

.box{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
}
.logo{
    transition: all .5s ease;
}
.logo:hover{
    transform: scale(1.3);
}
.links{
    display: flex;
    gap: 50px;
}
ul{
    list-style: none;
}
ul a{
    text-decoration: none;
    color: #232730;
}
.links li a{
    color: gray;
    text-decoration: none;
    font-size: 14px;
}
.links li{
    transition: all .5s ease;
}
.links li:hover{
    transform: scale(1.4);
}
.links a:hover{
    color: #A55C30;
}
.links li{
    position: relative;
}
.links li::after{
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0px;
    width: 0px;
    height: 0px;
    background-color: #A55C30;
    transition: all .8s ease;

}
.links li:hover::after{
    width: 100%;
    height: 1px;
    background-color: #A55C30;
}



.heroimg{
    position: absolute;
    width: 60%;
    right: 0px;
    top: 20px;
}
.chiziq{
    width: 8px;
    height: 250px;
    background-color: #F8D7A4;
}
.hero_box{
    display: flex;
    gap: 30px;
    align-items: center;
    padding-top: 100px;

}
.hero h1{
    width: 450px;
    font-size: 64px;
    font-weight: 500;
    padding-top: 0px;
}
.section1{
    padding-top: 400px;
    padding-bottom: 100px;
}
.box1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.box1_1 img{
    transition: all .5s ease;
}
.box1_1 img:hover{
    transform: scale(1.05);
}

.box1_2{
    width: 480px;
}
.box1_2 h1{
    padding-bottom: 20px;
    font-size: 42px;
    color: #A55C30;
}
.box1_2 p{
    font-size: 18px;
    line-height: 30px;

}
.section2{
    background-image: url(../imgs/s.png);
    padding-top: 50px;
    padding-bottom: 80px;
}
.section2 h1{
    text-align: center;
    padding-bottom: 50px;
    font-size: 48px;
    color: #A55C30;
}
.box2_1{
    width: 303px;
    color: white;
}
.img2{
    text-align: center;
   
    
}
.img2 img{
    text-align: center;
    width: 100px;
    height: 110px;
}
.box2_1 h4{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 30px;
    font-size: 25px;

}
.text2{
    padding-bottom: 20px;
}
.box2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section3{
    padding-top: 40px;
    background-color: #fafafa;
    padding-bottom: 70px;

}

.section3 h1{
    text-align: center;
    padding-bottom: 50px;
    font-size: 48px;
    color: #A55C30;
}
.box3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box3_1{
    width: 370px;
    background-color: #ffff;
    padding: 10px 20px;
    padding-top: 30px;
    object-fit: contain;
    transition: all .5s ease;
}
.box3_1:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px gray;
}
.text3{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}
.text3 h3{
    color: #A55C30;
    font-size: 24px;
}
.text3 div{
    padding-bottom: 20px;
}
.iconlar3{
    display: flex;
    justify-content: space-between;
}
.iconlar3 div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon3{
    text-align: center;
    padding-top: 50px;
}
.img3{
    width: 300px;
    height: 180px;
}
.section4{
    background-color: #232222F5;
    padding-top: 50px;
    padding-bottom: 50px;
}
.box4{

    display: flex;
    justify-content:center;
    gap: 300px;
    flex-wrap: wrap;
}
.box4_1{
    text-align: center;
    transition: all .5s ease;
}
.box4_1:hover{
    transform: scale(1.2);
}

.box4_1 h1{
    font-size: 72px;
    color: white;
    font-weight: 500;
}

.box4_1 p{
    font-size: 24px;
    color: white;
}



.section5{
    background-color: #F8D7A4;
    padding-top: 100px;
    padding-bottom: 50px;
}
.section5 h1{
    text-align: center;
    padding-bottom: 50px;
    font-size: 48px;
    color: #A55C30;
}
.box5{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    align-items: center;
    flex-wrap: wrap;
}
.box5_2{
    width: 600px;
    text-align: center;
    font-size: 24px;
}
.box5_2 p{
    line-height: 35px;

}
.img5_1{
    padding-top: 50px;
}
.box5_1{
    text-align: center;
}
.box5_1 h2{
    padding-top: 30px;
}
.box5_1 p{
    color: #979797;
}

.section6{
    background-image: url(../imgs/Rectangle\ 3.png);
    padding-top: 100px;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    background-size: 100%;
}
.box6{
    color: white;
    text-align: center;
    align-items: center;
}
.box6_1 p{
    font-size: 32px;
}
.box6_1 h1{
    font-size: 56px;
}

.section7 h1{
    text-align: center;
    padding-bottom: 50px;
    font-size: 48px;
    color: #A55C30;
}
.section7{
    padding-top: 50px;
    background-color: #fafafa;
    padding-bottom: 50px;
}
.box7{
    background-color: #E8EAEC;
    width: 700px;
    text-align: center;
    margin-left: 250px;
    padding-bottom: 50px;
    /* text-align: center; */

    
}
.section7 .container .box7{
    padding-left: 00px;
}

.box7_1{
    width:720px ;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
}
.box7 input{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 70px;
    margin-top: 20px;
    border: none;
}
.box7 select{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 100px;
    margin-top: 20px;
    border: none;
    color: gray;
}
.box7 input:nth-child(4){
    padding-bottom: 80px;
    
}
.box7 button{
    padding: 8px 50px ;
    text-align: center;
    color: white;
    background-color: #A55C30;
    border: none;
    margin-top: 15px;
    font-size: 13px;
    transition: all .5s ease;
}
.box7_1 button:hover{
    transform: scale(1.2);
}
footer{
    background-color: #0C0C0C;
    color: white;
    padding-top: 50px;
}
.box8{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.box8_1{
    width: 260px;
}
.box8_1 div{
    padding-top: 20px;
    padding-bottom: 0px;
}

.box8_2{
    width: 400px;
    text-align: center;
}
.box8_2 h2{
    color: #A55C30;
    padding-bottom: 20px;
    text-align: center;
}
.box8_2 p{
    padding-bottom: 20px;
}
.box8_2 input{
    padding:6px 0;
    padding-left: 5px;
    border: none;
}
.box8_2 button{
    padding: 6px 15px;
    color:white;
    background-color: #A55C30;
    border: none;
    transition: all .5s ease;
}
.box8_2 button:hover{
    transform: scale(1.2);
}
.box8_2 form{
    padding-bottom: 40px;
}
.icon_ox i{
    padding: 0px 10px;
    transition: all .5s ease;
}
.icon_ox{
    text-align: center;
    padding-bottom: 20px;
    transition: all .5s ease;
}
.icon_ox i:hover{
    transform: scale(2);
    color: #A55C30;
}

.box8_3{
    width: 230px;
    align-items: center;
    cursor: pointer;
}
.box8_3 div{
    display: flex;
    gap: 15px;
    align-items: center;
    padding-top: 15px;
    transition: all .5s ease;
}
.box8_3 div:hover{
    transform: scale(1.2);
    color: #A55C30;
}
.box8_3 h2{
    color: #A55C30;
    text-align: center;
}
.chiziq2{
    width: 100%;
    height: 1px;
    background-color: white;
}
.oxiri h5{
    padding:20px 0px ;
    text-align: center;
}


@media(max-width:480px){

    .links0{
        display: none;
    }
    .menu{
        display: block;
    }
    .heroimg{
        display: none;
    }
    .hero{
        
        background-image: url(../imgs/mobil_img.png);
        background-repeat: no-repeat;
        width: 100%;
        position: absolute;
        background-size: 100%;
       
        top: 250px;
    }
    .hero h1{
        /* position: absolute; */
        top: 0px;
        font-size: 32px;
        width: 229px;
    }
    nav{
        padding-left: 20px !important ;
        padding-right: 20px !important;
    }
    .chiziq{
     
        height:184px;        
    }
    .hero_box{
        display: flex;
        gap: 10px;
        padding-left: 20px !important ;
        padding-top: 0px;
        padding-bottom: 450px;
    }

  
    .section1{
        padding-left: 20px !important ;
        padding-right: 20px !important;
    }
    .box1_1 img{
        width: 100%;
    }
    .box1{
        padding-top: 550px;

    }
    .box1_2{
        text-align: center;
        line-height:30px ;
        padding-top: 20px;
    }
    .box2{
        padding-left: 20px !important ;
        padding-right: 20px !important;
    }
    .box2_1{
        text-align: center;
        width: 100%;
        padding-top: 50px;
    }
    .section3{
        padding-left: 20px !important ;
        padding-right: 20px !important;
    }
    .box3_1{
        width: 100%;
        margin-top: 30px;
    }
   .icon3{
    display: none;
   }
   .section5{
    padding-left: 20px !important ;
    padding-right: 20px !important;
   }
   .box5{
        flex-direction: column-reverse;
        text-align: center;
   }
   .box5_1{
    /* text-align: center; */
    width: 100%;
    padding-top: 20px;
   }
   .box5_2 p{
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
   }
   .box5_2{
    width: 100%;
   }
   .box4{
    padding-left: 20px !important ;
    padding-right: 20px !important;
    gap: 70px;
    flex-direction: column;
   }
  .section7{
    padding-left: 20px !important ;
    padding-right: 20px !important;
  }
  .box7{
    width: 100%;
    padding-right: 200px;
  }
  .box8{
    padding-left: 20px !important ;
    padding-right: 20px !important;
  }
  .box8_1{
    text-align: center;
    width: 100%;
  }
  .box8_2{
    padding-top: 40px;
    text-align: center;
    width: 100%;
  }
  .box8_3{
    padding-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
   
  }
  .section6{
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 70px !important ;
    padding-right: 70px !important;
  }
  .box6_1 p{
    font-size: 15px;
  }
  .box6_1 h1{
    font-size: 25px;
  }
  .box7{
    margin-left: 0px;
  }
  .box7_1{
    width: 343px;
    padding-left: 50px !important ;
    padding-right: 20px !important;
  }
}